/* Theme base styles */
{% include './_reset.css' %}
{% include './_layout.css' %}
{% include './_header.css' %}
{% include './_helper.css' %}


.body-wrapper>div:has(.header),
.body-wrapper>div:has(footer) {
    width: 100%;
    padding: 16px;
    background-color: {{ theme.hf_color.color.color }};
    opacity:  {{ theme.hf_color.color.opacity }};
}

.body-wrapper>div:has(.header) {
    margin-bottom: 60px;
}

header, footer {
    width: 100%;
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (min-width:768px){
    .header__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
}

.header__navigation>ul{
    display: flex;
    gap: 16px;
}

.header__navigation li {
    list-style-type: none;
}

.body-wrapper>div:has(footer) {
    margin-top: 60px;
}

body {
  padding: 0;
  margin: 0;
}

body>* {
    width: 100%;
}

.body-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
    width: stretch;
    max-width: 1200px;
}

.row-fluid-wrapper + .row-fluid-wrapper {
    {{ theme.section.section_spacing.css }};
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}