.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.content__container{
    height: fit-content;
}



@media screen and (min-width:768px){
    .container {
        flex-direction: row;
        align-items: center;
    }
}
        
@media screen and (min-width:1200px){
    .container {
        flex-direction: row;
        align-items: center;
    }
}